<div class="crate">
    <header>
        <h1>Teachers</h1>
    </header>
    <div class="box flex-grid" id="teachers">
    </div>
</div>

<div class="crate">
    <header>
        <h1>Students</h1>
    </header>
    <div class="box flex-grid" id="students">
    </div>
</div>

<div class="crate">
    <header>
        <h1>Classes</h1>
    </header>
    <div class="box flex-grid" id="classes">
    </div>
</div>

<div class="crate">
    <header>
        <h1>Groups</h1>
    </header>
    <div class="box flex-grid" id="groups">
    </div>
</div>

<div class="crate">
    <header>
        <h1>Buildings</h1>
    </header>
    <div class="box flex-grid" id="buildings">
    </div>
</div>
