{% extends "pivot.twig" %}
{% block nav %}{% endblock nav %}
{% block content %}
    <div class="tc">
        <p>Loading...</p>
        <span class="fa fa-circle-o-notch fa-spin fa-3x"></span>
    </div>
{% endblock content %}
