input[type="checkbox"]{
    width: $size-input-large;
    height: $size-input-large;

    margin: $size-padding-normal;

    &:focus{
        outline: none;
    }
}

.field input{
    font-size: $size-text-extra;
    color: $color-dark-type;

    padding: $size-padding-normal $size-padding-extra;
    border: 0.1rem solid $color-form-input;

    width: 100%;

    background-color: $color-form-input;

    &:focus,
    &.focused{
        background-color: $color-form-input-focused;
        border-color: $color-form-input-focused;
        color: $color-darkest;
    }

    &:disabled,
    &.disabled{
        background-color: $color-form-input-disabled;
        border-color: $color-form-input-disabled;
        color: darken( $color-form-input-disabled, 25% );
    }
}
