.button-group{
    @extend .clear;

    display: inline-block;

    vertical-align: middle;

    a.button,
    button{
        float: left;

        &:not(:last-of-type){
            margin-right: 0;

            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        + a.button,
        + button{
            margin-left: 0;

            border-left: none;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}
