<footer>
    <div class="bounding">
        <p>
            Powered by <a href="http://five-startech.com">Five-Star Technology Solutions</a>
        </p>
        <span>
            v{{ settings.system.version }}
        </span>
    </div>
</footer>
