.tag{
    $---tag-arrow-height: ( 1.2 * $size-tag-arrow );

    color: $color-subtle;
    font-size: $size-text-normal;
    line-height: $size-text-normal;
    vertical-align: middle;

    display: inline-block;

    .body{
        padding: 0 $size-padding-small;

        position: relative;

        &:before,
        &:after{
            width: 0;
            height: 0;

            display: inline-block;
            position: absolute;

            content: "";

            border: 0 solid transparent;
        }
    }

    &.right{
        padding-left: $---tag-arrow-height;

        .body{
            &:before{
                top: 25%;
                right: 100%;

                border-top-width: $size-tag-arrow;
                border-bottom-width: $size-tag-arrow;

                border-right: $---tag-arrow-height solid $color-tag-default;
            }

            &:after{
                content: none;
            }
        }
    }

    &.left{
        padding-right: $---tag-arrow-height;

        .body{
            &:before{
                content: none;
            }

            &:after{
                top: 25%;
                left: 100%;

                border-top-width: $size-tag-arrow;
                border-bottom-width: $size-tag-arrow;

                border-left: $---tag-arrow-height solid $color-tag-default;
            }
        }
    }
}
