<div class="mini student card pointer buffer">
    <div class="visual-identity circle">
        <p class="identity">
            <span class="initials"></span>
        </p>
        <div class="photo" style="background-image: url( <%= picture %> );"/>
    </div>
    <div class="info">
        <div class="indicators">
            <span class="ews-flag fa fa-fw fa-flag"></span>
        </div>
        <h3><%= firstName %><br/><%= lastName %></h3>
    </div>
    <div class="controls">
        <input type="checkbox" class="select">
    </div>
</div>
